@import url('https://fonts.googleapis.com/css2?family=Farro:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

.body{
    display: flex; 
    align-items: center;
     justify-content: center;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right:115px;
    font-size: 45px;
    font-family: 'Farro', sans-serif;
}

#highScoreBox{
    position: absolute;
    top: 65px;
    right:120px;
    font-size: 45px;
    font-family: 'Farro', sans-serif;
}

#board{
    background-color: rgb(32, 211, 151);
    width: 90vmin;
    height: 92vmin;
    border: 12px solid black;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
}

.head{
    background-color: rgb(255, 217, 0);
    border: 2px solid rgb(53, 51, 51);
    border-radius: 3px;
    transform: scale(1.03);
}

.snake{
    background-color: purple;
    border: 0.25vmin solid white;
    border-radius: 10px;
}

.food{
    background-color: rgb(145, 56, 56);
    border: 0.35vmin solid black;
    border-radius: 7px;
}